{% extends "base_generic.html" %}
{% load static %}

{% block title %}Trusted Auto Houston{% endblock %}

{% block css %}
<style>
  body { padding-top:56px; }
  .card-background{
    background-size:cover;background-position:center;
    min-height:300px;border-radius:.5rem;overflow:hidden
  }
  .card-img-overlay{ background:none; color:#fff }
</style>
{% endblock %}

{% block content %}
  <!-- Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" aria-label="hero-carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://i.postimg.cc/d35Yj8jY/luke-scarpino-sd7w-QZ0-Is-UY-unsplash.jpg" alt="First slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>"Experience Excellence on Every Mile"</h5>
          <p>"Our collection of high-performance vehicles is designed to elevate your driving experience."</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://i.postimg.cc/65MLLprs/ranamotorworks-MIFUNUl-Wghc-unsplash.jpg" alt="Second slide">
        <div class="carousel-caption d-none d-md-block">
          <h5>"Exclusive Deals on Top Models"</h5>
          <p>"Experience unparalleled service and unbeatable deals on the hottest models in the city."</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Featured cards -->
  <section class="wrapper py-5">
    <div class="container">
      <div class="row">
        <div class="col text-center mb-5">
          <h1 class="display-4 font-weight-bolder">Featured Cars</h1>
          <p class="lead">Discover the thrill of driving one of our exclusive exotic cars…</p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-dark card-background" style="background-image:url('https://i.postimg.cc/66DzYQZh/lambo.jpg');">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <big class="card-meta mb-2" style="color:white">Lamborghini Urus</big>
                <h4 class="card-title mt-0"><span style="color:white">2021</span></h4>
                <a href="{% url 'listings' %}" class="btn btn-primary mt-2">Learn More</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-dark card-background" style="background-image:url('https://i.postimg.cc/FFDPPSrB/esmihel-muhammad-u-Mh-TBb53bu8-unsplash.jpg');">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <big class="card-meta mb-2" style="color:white">McLaren P1</big>
                <h4 class="card-title mt-0"><span style="color:white">2014</span></h4>
                <a href="{% url 'listings' %}" class="btn btn-primary mt-2">Learn More</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
          <div class="card text-dark card-background" style="background-image:url('https://i.postimg.cc/xC7gVcgS/viktor-theo-Aguw-H2b-Q8t-Q-unsplash.jpg');">
            <div class="card-img-overlay d-flex flex-column">
              <div class="card-body">
                <big class="card-meta mb-2" style="color:white">Ferrari 458</big>
                <h4 class="card-title mt-0"><span style="color:white">2014</span></h4>
                <a href="{% url 'listings' %}" class="btn btn-primary mt-2">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <a href="{% url 'listings' %}" class="btn btn-primary">View All Listings</a>
      </div>
    </div>
  </section>
{% endblock %}

{% block js %}
<script>
  $(function(){ $('#carouselExampleIndicators').carousel({ interval: 2000 }); });
</script>
{% endblock %}

